# Django
*.log
*.pot
*.pyc
__pycache__/
.idea/
media/      # Media files uploaded by users
staticfiles/ # Static files collected via Django's collectstatic command
.env_api        # Environment variables file

# Node.js/React (frontend)
node_modules/
npm-debug.log
yarn-error.log
build/      # React build files (generated during production build)

# macOS
.DS_Store

